{% comment %}
  Renders product variant picker

  Accepts:
  - product: {Object} product object.
  - form: {Object} product form object.

  Usage:
  {% render 'product-variant-picker',
    product: product,
    form: form
  %}
{% endcomment %}
{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
  assign current_variant = product.selected_variant
  assign product_variants = product.variants
-%}

<div class="product-variant-picker">
  <form method="post" action="{{ form | form_url }}">
    <input type="hidden" name="id" value="{{ product.id }}" />

    {%- for option in product.options -%}
      {% render 'product-variant-options',
        product: product,
        option: option,
        block: block
      %}
    {%- endfor -%}

    <div class="form__controls">
      <button
        type="submit"
        name="add"
        id="AddToCart-{{ section.id }}"
        class="btn btn--full add-to-cart"
        {% unless current_variant.available %}disabled="disabled"{% endunless %}
      >
        <span id="AddToCartText-{{ section.id }}">
          {{ 'products.product.add_to_cart' | t }}
        </span>
      </button>
    </div>
  </form>
</div>
