{%- for option in product.options_with_values -%}
  
  {%- if option.name == 'Color' -%}
  
  
  {%else%}

    <variant-selects
      class="no-js-hidden"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {{ block.shopify_attributes }}
    >
      <div class="product-form__input product-form__input--dropdown">
        <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
          {{ option.name }}
        </label>
        <div class="select">
          <select
            id="Option-{{ section.id }}-{{ forloop.index0 }}"
            class="select__select"
            name="options[{{ option.name | escape }}]"
            form="{{ product_form_id }}"
          >
            {%- for value in option.values -%}
              <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}
                  selected="selected"
                {% endif %}
              >
                {{ value }}
              </option>
            {%- endfor -%}
          </select>
          {% render 'icon-caret' %}
        </div>
      </div>
    <script type="application/json">
      {{ product.variants | json }}
    </script>
  </variant-selects>                           
  {% endif %}
{% endfor %}        
<!-- -->