{%- if option.name == 'Size' -%}
  {%- if block.settings.picker_type == 'dropdown' -%}
    <div class="size-dropdown">
      <select
        id="{{ section.id }}-{{ option.position }}"
        name="{{ option.name }}"
        form="{{ product_form_id }}"
      >
        {%- for size_value in option.values -%}
          <option
            value="{{ size_value | escape }}"
            {% if option.selected_value == size_value %}
              selected="selected"
            {% endif %}
            {% if option_disabled %}
              disabled="disabled"
            {% endif %}
          >
            {%- if option_disabled -%}
              {{ 'products.product.value_unavailable' | t: option_value: size_value }}
            {%- else -%}
              {{- size_value -}}
            {%- endif -%}
          </option>
        {%- endfor -%}
      </select>
      {# Add any JavaScript logic here if needed #}
    </div>
  {%- endif -%}
{%- endif -%}
