{%- if block.settings.picker_type == 'pills_dropdown' -%}
  <div class="variant-pills-dropdown">
    <select
      id="{{ section.id }}-{{ option.position }}"
      name="{{ option.name }}"
      form="{{ product_form_id }}"
      onchange="updateSelectedSize(this.value)"
    >
      <option value="" {% unless option.selected_value %}selected="selected"{% endunless %} disabled="disabled">{{ 'products.product.select_option' | t }}</option>
      {%- for value in option.values -%}
        <option
          value="{{ value | escape }}"
          {% if option.selected_value == value %}
            selected="selected"
          {% endif %}
        >
          {{ value }}
        </option>
      {%- endfor -%}
    </select>
  </div>
{%- endif -%}
