{% schema %}
{
  "name": "Dropdown Picker",
  "settings": [
    {
      "type": "text",
      "label": "Label",
      "id": "label",
      "default": "Size"
    },
    {
      "type": "text",
      "label": "Option 1",
      "id": "option1",
      "default": "Small"
    },
    {
      "type": "text",
      "label": "Option 2",
      "id": "option2",
      "default": "Medium"
    },
    {
      "type": "text",
      "label": "Option 3",
      "id": "option3",
      "default": "Large"
    }
  ]
}
{% endschema %}

{% assign label = section.settings.label %}
{% assign option1 = section.settings.option1 %}
{% assign option2 = section.settings.option2 %}
{% assign option3 = section.settings.option3 %}

<div>
  <label for="custom-input--size">{{ label }}</label><br>
  <select id="custom-input--size" name="properties[Size]" form="product-form-{{ section.id }}" style="padding: 5px 10px;" required="true"> 
    <option value="Unselected">Unselected</option>
    <option value="{{ option1 }}">{{ option1 }}</option>
    <option value="{{ option2 }}">{{ option2 }}</option>
    <option value="{{ option3 }}">{{ option3 }}</option> 
  </select> 
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const formElement = document.querySelector("#product-form-{{ section.id }}");
    formElement.removeAttribute('novalidate');
  });
</script>
